.viewButtonContainer {
  display: flex;
}

.viewButtonContainer div {
  cursor: pointer;
  display: inline-block;
  margin: 0px 2px;
  padding: 10px;
  font-size: 18px;
  width: 25%;
  text-align: center;
  border-color: var(--background-color);
  border: 1px solid;
  border-radius: 3px;
}

.viewButtonContainer div:hover {
  border-color: white;
  color: white;
}

.welcome {
  padding: 5px;
  text-align: center;
  font-size: 18px;
  color: white;
}

.activeView {
  color: #99f;
}
