.load {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #99f;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;

  margin: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loadContainer {
  display: flex;
  justify-content: center;
}
