.tableContainer {
  padding: 5px;
}

.tableContainer > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 10px;
}

.tableContainer > div > div:nth-child(1) {
  flex: 0 100px;
}

.tableContainer > div > div:nth-child(2) {
  text-align: center;
  flex: 0 120px;
}

.tableContainer > div > div:nth-child(3) {
  flex: 1 0;
}

.tableContainer > div > div:nth-child(4) {
  flex: 0 200px;
}

.tableContainer > div:first-child {
  text-align: center;
  padding: 13px 10px;
  background-color: #444;
  color: #fff;
}

.tableContainer > div:not(:first-child) {
  cursor: pointer;
}

.tableContainer > div:nth-child(2n) {
  background-color: #2c2c2c;
}

.tableContainer > div:not(:first-child):hover {
  background-color: #444;
}

.backButton {
  color: white;
  display: inline-block;
  margin: 10px 5px;
  padding: 10px 40px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #444;
  border-radius: 3px;
}

.backButton:hover {
  background-color: #444;
}

.subjName {
  font-size: 24px;
  color: white;
  padding: 8px 0px;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.infoContainer > div {
  margin: 2px;
  text-align: center;
}
