.questionContainer > input,
.questionContainer > textarea {
  background-color: var(--background-color);
  color: white;
  border-radius: 5px;
  border: 1px solid #333;
  padding: 6px;
  margin: 3px;
}

.questionContainer > input:hover,
.questionContainer > textarea:hover {
  border: 1px solid #99f;
}

.questionContainer {
  display: flex;
  flex-flow: column;
}

.deleteButton {
  padding: 6px;
  background-color: var(--background-color);
  color: white;
  cursor: pointer;
  border: 1px solid;
  border-color: var(--background-color);
}

.deleteButton:hover {
  border: 1px solid;
}

.possibleAnswers > div {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.possibleAnswers > div:hover {
  background-color: #444;
}

.text {
  padding: 0px 6px;
}

.delete {
  padding: 1px 5px;
  cursor: pointer;
}

.delete:hover {
  background-color: #666;
}
