.subjName {
  font-size: 18px;
  background-color: #9999ff;
  color: black;
  padding: 10px;
  margin: 10px 0px;
  word-wrap: break-word;
}

.actions {
  display: flex;
  justify-content: space-around;
}

.actions > div {
  cursor: pointer;
  padding: 5px 20px;

  color: #eee;
  border: 1px solid #555;
  border-radius: 3px;
  user-select: none;
}

.actions > div:hover {
  background-color: #444;
  color: white;
}

.unsaved {
  background-color: #333333;
}
