.questionInput {
  width: 80%;
  background-color: var(--background-color);
  color: white;
  border-radius: 5px;
  border: 1px solid #333;
  padding: 6px;
  margin: 3px;
}

.questionInput:hover {
  border: 1px solid #99f;
}

.subjSelectorContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subjSelectorContainer > select {
  width: 80%;
}

.issubmitting {
  text-align: center;
  color: white;
}
