.searchBar {
  margin: 10px;
  padding: 10px;
  color: white;
  background-color: #212127;
  border: none;
  flex-grow: 1;
}

.searchContainer {
  width: 100%;
  display: flex;
}

.clearButton {
  width: 80px;
  background-color: var(--background-color);
  color: white;
  cursor: pointer;
  border: none;
}
