.searchBar {
  margin: 10px;
  padding: 10px;
  color: white;
  background-color: #222426;
  border: none;
  flex-grow: 1;
  font-size: 18px;
}

.searchContainer {
  width: 100%;
  display: flex;
}

.clearButton {
  font-size: 30px;
  width: 80px;
  background-color: var(--background-color);
  color: white;
  cursor: pointer;
  border: none;
}

.clearButton:hover {
  background-color: #333;
}
