.actions {
  display: flex;
  justify-content: space-around;
}

.actions > div {
  cursor: pointer;
  padding: 5px 20px;

  color: #eee;
  border: 1px solid #555;
  border-radius: 3px;
  user-select: none;
}

.actions > div:hover {
  background-color: #444;
  color: white;
}
