.questionCount {
  justify-content: flex-end;
  white-space: nowrap;
}

.subjName {
  word-wrap: break-word;
}

.subjectSelector {
  overflow: scroll;
  height: 350px;
  margin: 10px;
}

.subjectSelector:nth-child(2n) {
  background-color: #444;
}
