.headerContainer {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
}

.header:hover {
  background-color: #444;
}

.header :first-child {
  color: white;
  flex: 0 170px;
  text-align: right;
}

.header > * {
  margin: 0px 5px;
}

.questionsContainer > div {
  padding: 20px 0px;
}

.actions {
  display: flex;
  justify-content: space-around;
}

.actions > div {
  cursor: pointer;
  padding: 5px 20px;

  color: #eee;
  border: 1px solid #555;
  border-radius: 3px;
  user-select: none;
}

.actions > div:hover {
  background-color: #444;
  color: white;
}
