.actions {
  display: flex;
  justify-content: space-around;
}

.actions > div {
  cursor: pointer;
  padding: 5px 20px;

  color: #eee;
  border: 1px solid #555;
  border-radius: 3px;
  user-select: none;
}

.actions > div:hover {
  background-color: #444;
  color: white;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoContainer > div {
  margin: 2px;
  text-align: center;
}

.infoContainer li {
  margin: 5px 0px;
}

.infoHeader {
  color: white;
  font-size: 38px;
  font-weight: bold;
}

.infoReadButton {
  cursor: pointer;
  padding: 10px 30px;

  border: 1px solid #444;
  border-radius: 3px;
}

.infoReadButton:hover {
  background-color: #444;
}
