:root {
  --text-color: #9999ff;
  --bright-color: #f2f2f2;
  --background-color: #222426;
  --hoover-color: #202020;
}

body {
  font: normal 14px Verdana;
  color: #999999;
}

a {
  color: white;
}

.link {
  margin: 20px;
  font-size: 16px;
}

.sidebarLink {
  color: var(--text-color);
  text-decoration: none;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #222426;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  color: var(--bright-color);
}

.sidebar a.active {
  background-color: var(--text-color);
  color: black;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.content {
  margin-left: 200px;
  padding: 1px 16px;
}

.menuicon div {
  height: 5px;
  background-color: var(--bright-color);
  margin: 0px 0;
  display: none;
  width: 30px;
}

.sidebarheader {
  font-size: 30px;
  color: var(--bright-color);
  display: flex;
  text-align: center;
}

.headercontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  margin: 10px;
}

.question {
  word-wrap: break-word;
  font-weight: bold;
  font-size: 15px;
  color: #ffffff;
}

.answer {
  word-wrap: break-word;
  font-size: 15px;
}

.data {
  word-wrap: break-word;
  font-size: 13px;
  color: #a1a1a1;
}

.loadingindicator {
  text-align: center;
  vertical-align: middle;

  color: #fff;
  font-size: 25px;
}

.uquestioncontainer {
  margin: 5px;
}

.uquestioncontainer:hover {
  background-color: var(--hoover-color);
}

.uquestionscontainer {
  margin: 10px;
}

.uquestion {
  font-weight: 'bold';
  font-size: 14px;
  color: #fff;
  margin: 5px;
}

.uanswer {
  margin: 5px;
}

.uquestionnumber {
  color: #fff;
  margin: 5px;
  font-size: 16px;
}

.link {
  margin: 10px;
}

.subjItem {
  font-size: 16px;
  padding: 3px;
  cursor: pointer;
  float: 1;
  display: flex;
  justify-content: space-between;
}

.activeSubjItem {
  background-color: var(--text-color);
  color: black;
}

.subjItem:hover:not(.activeSubjItem) {
  background-color: #555;
  color: white;
}

select {
  cursor: pointer;
  width: 100%;
  max-width: 100%;
  height: 30px;
}

select:hover {
}
